@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  --primary-color: #ea062b;
  --secondary-color: #111111;
  --gray: #e7e7e7;
}

body {
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.default-btn {
  background-color: var(--primary-color);
  color: #fff;
}

.icon-color{
  color: var(--primary-color);
}

.secondary-btn {
  background-color: var(--secondary-color);
  color: #fff;
}


.hero-section {
  background: url("./assets/images/patient-donating-blood.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: #0000003d;
  opacity: 1;
}

.hero-content {
  background-color: #ffffffe3;
}

.quote-icon{
  color: var(--secondary-color)
}

.donor-list{
  background-color: var(--primary-color);
  color: #fff;
}

.request-link{
  color: var(--secondary-color)
}

.requests-list{
  background-color: #F8F9FA;
}


.footer{
  background-color: var(--primary-color);
  color: #fff;
}