@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  --primary-color: #fe3c47;
  --secondary-color: #111111;
  --gray: #e7e7e7;
}

body {
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.default-btn {
  background-color: var(--primary-color);
  color: #fff;
}

.icon-color {
  color: var(--primary-color);
}
.default-bg{
  background-color: var(--primary-color);
}

.secondary-btn {
  background-color: var(--secondary-color);
  color: #fff;
}

.overlay {
  background-color: #000;
  opacity: 0.5;
}

.hero-content {
  background-color: #ffffffe3;
}

.quote-icon {
  color: var(--secondary-color);
}

.request-link {
  color: var(--secondary-color);
}

.requests-list {
  background-color: #f8f9fa;
}

.donor-info li{
  position: relative;
}

.donor-info li .caption::after {
  position: absolute;
  content: ":";
  top: 0;
  left: 12%;
}

.footer {
  background-color: var(--primary-color);
  color: #fff;
}
