@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #c6414c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.default-btn {
  background-color: #c6414c;
  color: white;
}

.hero-section {
  background: url("./assets/images/patient-donating-blood.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: #0000003d;
  opacity: 1;
}

.hero-content {
  background-color: #ffffffe3;
}

.quote-icon{
  color: #c6414c;
}

.donor-list{
  background-color: #c6414c;
  color: #fff;
}

.request-link{
  color: #c6414c;
}